__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

*.db
*.pyc

.env
.venv
env/
venv/
ENV/

.idea/
.vscode/
.history/

*__pycache__*
*.pytest_cache*
*.DS_Store*

.claude/
